@model tblStudent

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<h2>Update Existing Student</h2>
<form asp-action="Edit" id="form1" method="post">
    <input class="form-control" hidden type="text" asp-for="c_studentid" />
    <div class="form-group">
        <label for="">Name</label>
        <input class="form-control" required type="text" asp-for="c_name" />
    </div>
    <div class="form-group">
        <label for="">Dob</label>
        <input class="form-control" required type="date" asp-for="c_birthdate" />
    </div>
    <div class="form-group">
        <label for="">Gender</label>
        <input type="radio" asp-for="c_gender" value="Male"/> Male
        <input type="radio" asp-for="c_gender" value="Female"/> Female
        <input type="radio" asp-for="c_gender" value="Other"/> Other
    </div>
    <div class="form-group">
        <label for="">Address</label>
        <input class="form-control" type="text" asp-for="c_address" />
    </div>
    <div class="form-group">
        <label for="">Languages</label>
        <input name="c_language" type="checkbox" value="Hindi" checked='@(Model.c_language!=null && Model.c_language.Contains("Hindi"))'><label for="">Hindi</label>
        <input name="c_language" type="checkbox" value="English" checked = '@(Model.c_language!=null && Model.c_language.Contains("English"))'><label for="">English</label>
        <input name="c_language" type="checkbox" value="Gujarati" checked = '@(Model.c_language != null && Model.c_language.Contains("Gujarati"))'><label for="">Gujarati</label>

    </div>
    <div class="form-group">
        <label for="">Courses</label>
        <select class="form-control" asp-for="c_course" required>
            <option Value="1">AI-ML</option>
            <option Value="2">CyberSecurity</option>
            <option Value="3">DataScience</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Profile</label>
        <input class="form-control" required type="file" asp-for="c_profile" />
    </div>
    <div class="form-group">
        <label for="">Document</label>
        <input class="form-control" required type="file" asp-for="c_document" />
    </div>
    <div class="form-group">
        <label for="">Mobile Number</label>
        <input class="form-control" required type="number" asp-for="c_mobile" />
    </div>
    <input class="btn btn-success" type="submit" value="Update Student">
</form>
<script>
    $(document).ready(function(){
        $('#form1').submit(function(event){
            var values = $('input[name="c_language"]:checked').map(function() {
                return $(this).val();
            }).get();
            debugger
            if(values.length!==0){
                return true;
            }else{
                alert("Please Select Language");
                event.preventDefault();
                return false;
            }
        });
    });
   
</script>